/* fuck you denton */

/* generic style fonts */
* {
    background-color: transparent;
    color: white;
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
}

html {
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}

html, button, input, optgroup, select, textarea {
    font-family: monospace;
    outline: none;
    border-color: transparent;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* css button styles */
button {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
button:hover {
    background-color: #777;
}
input {
    border: 0;
    outline: 0;
    display: inline-block;
    text-align: left;
}

/* screen size fix */
@media screen and (max-width: 790px)  {
    * {
        font-size: 11px;
    }
}